/* General Body Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px; /* Space for the footer */
    overflow: scroll;
}



/* Header Styling */
header {
    padding: 20px 0;
    text-align: center;
    font-size: 32px;
    margin-top: -20px;
}

main {
    margin-bottom: 60px;
    width: 60%;
}

.content {
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 1000px;
    overflow-y: auto;
    margin: 20px auto; 
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 20px;
    height: auto;
}

/* Question Styles */
.question input[type="radio"] {
    vertical-align: middle;
    margin-right: 10px;
}
.question label {
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}

.score-display {
    padding: 10px;
    background-color: #e8e8e8; /* Light grey background for contrast */
    border-radius: 5px; /* Rounded corners */
    width: fit-content; /* Shrink to fit the content */
    margin: 20px auto; /* Center the block and add some margin above and below */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.score-display p {
    margin: 0; /* Remove default paragraph margin */
    font-weight: bold; /* Make the score bold */
    color: #333; /* Darker text for better readability */
    font-size: 1.2rem; /* Slightly larger text */
}

/* Button Styles */
.btn, .content form input[type="submit"] {
    padding: 10px 15px;
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    margin: 0 5px;
}

.btn:hover, input[type="submit"]:hover {
    background-color: #004494;
}

.content form div{
    background-color: white; /* Set the form's background color */
    width: 100%;
    /* Any additional styling you want to apply to the form */
}

/* Button Container */
.button-container {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* File Upload Container */
.file-upload-container {
    text-align: center;
    margin: 10px 0;
    align-items: center;
}

/* Footer Styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0;
    height: 75;
}

/* Label Styles */
label {
    display: block;
    margin: 10px 0;
}

/* Input Styles */
textarea, .content form input[type="file"] {
    width: 100%;
    max-width: 500px;
    margin: 10px 0;
    display: block;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.checkmark, .cross {
    font-weight: bold;
}

.question-review {
    align-items: left;
}

/* Navigation Styling */
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    background: #004494;
}

nav a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

nav a:hover {
    background: #003073;
}
