/* General Body Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Header Styling */
header {
    padding: 20px 0;
    text-align: center;
    font-size: 32px;
    margin-top: -20px;
}

/* Main Content Area */
main {
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-width: 1000px;
}

/* Question Styles */
.question input[type="radio"] {
    vertical-align: middle;
    margin-right: 10px;
}
.question label {
    vertical-align: middle;
    display: inline-block;
    margin-right: 20px;
}

/* Button Styles */
.btn, .button-container button, input[type="submit"] {
    padding: 10px 15px;
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    margin: 0 5px;
}

.btn:hover, .button-container button:hover, input[type="submit"]:hover {
    background-color: #004494;
}

/* Button Container */
.button-container {
    text-align: center;
    position: relative;
    margin-top: 20px;
    display: flex;
    bottom: -30px;
    justify-content: center;
    margin-bottom: -30px;
    gap: 10px;
}

/* File Upload Container */
.file-upload-container {
    text-align: center;
    margin: 10px 0;
}

/* Footer Styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: auto;
}

/* Label Styles */
label {
    display: block;
    text-align: center;
    margin: 10px 0;
}

/* Input Styles */
textarea, input[type="file"] {
    width: 100%;
    max-width: 500px;
    margin: 10px 0;
    display: block;
}

/* Responsive Media Queries */
@media only screen and (max-width: 768px) {
    main, .btn, .button-container button, input[type="submit"],
    textarea, input[type="file"] {
        width: 95%; /* Full width on small screens */
    }

    header {
        font-size: 24px; /* Adjust font size for smaller screens */
        padding: 15px 0; /* Adjust padding for smaller screens */
    }
}

/* Navigation Styling */
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    background: #004494;
}

nav a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

nav a:hover {
    background: #003073;
}
