<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Words and Synonyms</title>
    <link rel="stylesheet" href="/static/app.css">
</head>
<body>
    <header>
        <h1>Quiz Setup:</h1>
    </header>
    
    <main> 
        <div class="content">
            <div class="question">
                {% for word, synonym in word_synonyms_pairs %}
                    <p>{{ word }} - {{ synonym }}</p>
                {% endfor %}
            </div>
            <div class="button-container">
                <button onclick="window.location.href='/quiz'" class="btn">Take a Quiz</button>
                <button type="button" onclick="window.location.href='/'" class="btn">Back</button>
            </div>
        </div>
    </main>
    
    <footer>
        <p>One's vocabulary needs constant fertilizing or it will die.</p>
    </footer>
</body>
</html>
