<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="/static/app.css">
</head>
<body>
    <header>
        <h1>Quiz Time!</h1>
    </header>
    <main> 
        <div class="content">
            <form action="/submit-quiz" method="post">
                {% for question in questions %}
                    <div class="question"> 
                        <p>{{ question.data.question | safe }}</p>
                        {% for option in question.data.options %}
                            <input type="radio" id="question{{ question.id }}option{{ loop.index }}" name="question{{ question.id }}" value="{{ option }}">
                            <label for="question{{ question.id }}option{{ loop.index }}">{{ option }}</label>
                        {% endfor %}
                    </div>
                {% endfor %}
                <div class="button-container">
                    <button type="submit" class="btn">Submit</button>
                    <button type="button" onclick="window.location.href='/'" class="btn">Back</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <p>Good luck!</p> 
    </footer>
</body>
</html>
